@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model DemensProjekt.Models.Comment
@{
    
}

<form asp-action="CreateComment" asp-controller="Forum">
    <div asp-validation-summary="ModelOnly" class="input-validation-error"></div>


    <div>

        <textarea asp-for="Body" class="form-control" placeholder="Skriv kommentar her..."></textarea>
        <input type="hidden" asp-for="PostId" />        
        <span asp-validation-for="Body"></span>

    </div>

    <button type="submit">Opret Kommentar</button>

</form>


