@model DemensProjekt.Models.News
@{ 
    ViewBag.Title = "Se nyheder om demens";
    
}

<div class="NewsArticle">
	<h2>@Model.newsTitle</h2>
	<p></p>
	<p>@Model.newsBody</p>
	<p>@Model.newsDate</p>
</div>

<hr class="HorizontalLine" />