@model DemensProjekt.Models.News
@{ 
    ViewBag.Title = "Se nyheder om demens";
    
}

<div class="NewsArticle">
	<h2 id="NewsHeadline">@Model.newsTitle</h2>
	<p></p>
	<p>@Model.newsBody</p>
	<h3>@Model.newsDate</h3>
</div>

<hr class="HorizontalLine" />