@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@inject DemensProjekt.Models.FormattingService Format
@model DemensProjekt.Models.Post

@{

}

<article class="forum-post">
    <h1>@Html.ActionLink(Model.Title, "Post", "Forum", new { year = Model.Posted.Year, month = Model.Posted.Month })</h1>
    <div class="details">
        Posted <span>@Format.AsReadableDate(Model.Posted)</span> by <span>@Model.Author</span>
    </div>
    <div class="content">
        @Model.Body
    </div>

    <a href="#" class="show-comments">Vis Kommentarer</a>
    <div class="comments-container hide">
        <h3>Kommentarer</h3>
        <div class="comments">
        </div>
        <hr />
        <div>
            <a href="#" class="add-comment">Tilføj en kommentar</a>
            
            <div class="new-comment hide">
                <partial name="_CreateComment" model="@new DemensProjekt.Models.Comment() { PostId = Model.Id}" />
            </div>
        </div>
    </div>
</article>

