@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@{
    ViewBag.Title = "Logind eller opret en bruger";
    Layout = "_Layout";
}

<div id="logincontainer">
    <div class="coloumn">
        <partial name="Login" model="@new DemensProjekt.Models.Account.LoginViewModel" />
    </div>
    <div class="vl"></div>
    <div class="coloumn">
        <partial name="Register" model="@new DemensProjekt.Models.Account.RegisterViewModel" />
    </div>
</div>
