@{
    ViewBag.Title = "Logind eller opret en bruger";
    Layout = "_Layout";
}

<div id="logincontainer">
    <div class="coloumn">
        <h2>Log ind</h2>
        <form>
            <input class ="forminput" />
            <input class="forminput" />
            <input type="checkbox" />
            <button class="btnlogin">Login</button>
        </form>
    </div>
    <div class="vl"></div>
    <div class="coloumn">
        <h2>Opret Bruger</h2>
        <form>
            <input class="forminput" />
            <input class="forminput" />
            <input class="forminput" />
            <input class="forminput" />            
            <button class="btnlogin">Login</button>
        </form>
    </div>
</div>