@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model DemensProjekt.Models.Account.RegisterViewModel


<div class="formcontainer">
    <h2>Opret bruger</h2>
    <form method="post" role="form" asp-action="Register">
        <div asp-validation-summary="ModelOnly" class="input-validation-error"></div>
        <input placeholder="Email" type="email" asp-for="EmailAddress" />
        <span asp-validation-for="EmailAddress"></span>
        <input placeholder="Brugernavn" asp-for="Username" />
        <span asp-validation-for="Username"></span>
        <input placeholder="Adgangskode" type="password" asp-for="Password" />
        <span asp-validation-for="Password"></span>
        <input placeholder="Gentag Adgangskode" type="password" asp-for="ConfirmPassword" />
        <span asp-validation-for="ConfirmPassword"></span>
        @*<button type="submit" class="btnopret">Opret</button> hej*@
        <input type="submit" class="btnopret" />
    </form>
</div>


