@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model IEnumerable<DemensProjekt.Models.Post>

@{
    ViewBag.Title = "Se og lav Indlæg";

}

<partial name="_CreatePost" model="@new DemensProjekt.Models.Post()"/>

<h1>Opslag</h1>

<p>
    Seneste Opslag
</p>

<p class="pager">
    @if (ViewBag.HasPreviousPage)
    {
        <a class="prev" href="@Url.Action("Index", "Forum", new { page = ViewBag.PreviousPage })">
            &lt; Previous
        </a>
    }

    @if (ViewBag.HasNextPage)
    {
        <a class="next" href="@Url.Action("Index", "Forum", new { page = ViewBag.NextPage })">
            Next &gt;
        </a>
    }
</p>

<div class="blog-posts">
    @foreach (var post in Model)
    {
        <partial name="_Post" model="@post"/>
    }
</div>