@{ 
    ViewBag.Title = "Ret din profil";
    Layout = "_Layout";
}

<div id="ProfileWrapper">
	<img src="~/images/notebook.jpg" alt="Billede af person" width="200" height="200" />
	<input name="FirstName"/>
	<input name="LastName"/>
	<input name="Description"/>
	<input name="LivingPlace"/>
	<div class="ProfileInfo" id="DropDownMenu">
		<button class="dropDButton"></button>
		<div class="drop-content">
			<a>Gift</a>
			<a>Single</a>
			<a>Dum</a>
		</div>
	</div>
	<input name="Birthday"/>
	<input name="Family"/>
	<input name="Occupation"/>
</div>