@{ 
    ViewBag.Title = "Ret din profil";
    Layout = "_Layout";
}

<div id="ProfileWrapper">
	<p>Dit profil billede</p>
	<img src="~/images/notebook.jpg" alt="Billede af person" width="200" height="200" />
	<p>Fornavn</p>
	<input name="FirstName"/>
	<p>Efternavn</p>
	<input name="LastName"/>
	<p>Lidt om dig selv</p>
	<input name="Description"/>
	<p>Hvor bor du</p>
	<input name="LivingPlace"/>
	<p>Civilstand</p>
	<div class="ProfileInfo" id="DropDownMenu">
		<button class="dropDButton">Vælg civilstand</button>
		<div class="drop-content">
			<a heref="#">Gift</a>
			<a heref="#">Single</a>
			<a heref="#">Dum</a>
		</div>
	</div>
	<p>Fødelsdato</p>
	<input type="date" name="Birthday"/>
	<p>Familie medlemmer</p>
	<input name="Family"/>
	<p>Beskæftigelse</p>
	<input name="Occupation"/>
</div>