@model DemensProjekt.Models.News
@{
	ViewBag.Title = "Se nyheder om demens";

}

<h1 id="FrontHeadline">Nyheder</h1>
<hr class="HorizontalLine" />

<div class="NewsPosts">
	@Html.Partial("_News")
</div>