@model IEnumerable<DemensProjekt.Models.News>
@{
	ViewBag.Title = "Se nyheder om demens";

}

<h1 id="FrontHeadline">Nyheder</h1>
<hr class="HorizontalLine" />

<div class="NewsPosts">
	@foreach (var news in Model)
	{
	@Html.Partial("_News", news)
	}
</div>