@model DemensProjekt.Models.News
@{ 
    ViewBag.Title = "Se nyheder om demens";
    
}

<h1 id="FrontHeadline">Nyheder</h1>
<hr class="HorizontalLine" />

<article>
	<h2>@Model.newsTitle</h2>
</article>